.idea/*.iml
*.iml
*.ipr
*.iws
.idea
.idea/

bin/
target/
nbproject/
nbactions.xml
nb-configuration.xml
creditcloud.properties
.recommenders/
disconf/
web/disconf/

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
api/app.output_IS_UNDEFINED/
web/app.output_IS_UNDEFINED/
deploy/tomcat/
deploy/conf/
deploy/tomcat
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
build

#log
*.log
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project

# Windows image file caches
Thumbs.db

.*.sw[a-z]
*.un~
Session.vim
modules.xml

#client
node_modules
dist/
npm-debug.log
